/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#container {
    width: 80%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    margin-top: 20px;
}

body {
    background-color: #4B7399;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
}

h1 {
    text-align: center;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#sidebar {
    width: 50%;
    float: left;
}

#main {
    width: 50%;
    float: left;
}

a, a:visited {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td {
    padding: 5px;
}